# Virtual environment
venv/
catboost_info/
# NOTE: Do NOT ignore artifacts/ because the deployed app needs
# `artifacts/model.pkl` and `artifacts/preprocessor.pkl` at runtime.

# Packaging metadata
*.egg-info/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store



